<div class="container">
  <div class="mt-3 mx-auto">
    <div class="col-lg-10 offset-1">
      <h1>My page</h1>
      </br>
      登録情報
      <%= link_to "編集する", edit_customers_path, class: "btn btn-success" %>
      </br></br>

      <table class="table-bordered" style="width: 100%">
          <tr>
            <th class="table-active" style="width: 10%">氏名</th>
            <td class="align-middle">　<%= @customer.family_name %><%= @customer.given_name %></td>
          </tr>
          <tr>
            <th class="table-active" style="width: 10%">カナ</th>
            <td class="align-middle">　<%= @customer.kana_family_name %><%= @customer.kana_given_name %></td>
          </tr>
          <tr>
            <th class="table-active" style="width: 10%">郵便番号</th>
            <td class="align-middle">　<%= @customer.postal_code %></td>
          </tr>
          <tr>
            <th class="table-active" style="width: 30%">住所</th>
            <td class="align-middle">　<%= @customer.address %></td>
          </tr>
          <tr>
            <th class="table-active" style="width: 10%">電話番号</th>
            <td class="align-middle">　<%= @customer.phone_number %></td>
          </tr>
          <tr>
            <th class="table-active" style="width: 20%">メールアドレス</th>
            <td class="align-middle">　<%= @customer.email %></td>
          </tr>
      </table>

      </br></br>
      配送先　　<%= link_to "一覧を見る", addresses_path(current_customer), class: "btn btn-outline-primary" %>
      <br/><br/>
      注文履歴　<%= link_to "一覧を見る", orders_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>