<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-10 mx-auto">
      <h3>会員情報編集</h3>
      <div>
        <label class="col-3 mb-4 mt-2">会員ID</label>
        <label><%= @customer.id %></label>
      </div>
      
      <%= form_with model:@customer, url:admin_customer_path, local:true do |f| %>
      <div class="form-group">
        <%= f.label "氏名", class: "col-3 mt-2" %>
        <%= f.text_field :family_name, autofocus: true, placeholder: "令和", class: "form-control-md col-3 mr-5" %>
        <% if @customer.errors.include?(:family_name) %>
            <p style="color: red;"><%= @customer.errors.full_messages_for(:family_name).first %>
        <% end %>
        <%= f.text_field :given_name, autofocus: true, placeholder: "道子", class: "form-control-md col-3" %>
        <% if @customer.errors.include?(:given_name) %>
            <p style="color: red;"><%= @customer.errors.full_messages_for(:given_name).first %>
        <% end %>
      </div>
      
      <div class="form-group">
        <%= f.label "フリガナ", class: "col-3 mt-2"%>
        <%= f.text_field :kana_family_name, autofocus: true, placeholder: "レイワ", class: "form-control-md col-3 mr-5" %>
        <% if @customer.errors.include?(:kana_family_name) %>
            <p style="color: red;"><%= @customer.errors.full_messages_for(:kana_family_name).first %>
        <% end %>
        <%= f.text_field :kana_given_name, autofocus: true, placeholder: "ミチコ", class: "form-control-md col-3" %>
        <% if @customer.errors.include?(:kana_given_name) %>
            <p style="color: red;"><%= @customer.errors.full_messages_for(:kana_given_name).first %>
        <% end %>
      </div>
      
      <div class="form-group">
        <%= f.label "郵便番号", class: "col-3 mt-2"%>
        <%= f.text_field :postal_code, autofocus: true, placeholder: "0000000", class: "form-control-md col-3" %>
        <% if @customer.errors.include?(:postal_code) %>
            <p style="color: red;"><%= @customer.errors.full_messages_for(:postal_code).first %>
        <% end %>
      </div>
      
      <div class="form-group">
        <%= f.label "住所", class: "col-3 mt-2"%>
        <%= f.text_field :address, autofocus: true, placeholder: "東京都渋谷区代々木神園町0-0", class: "form-control-md col-7" %>
        <% if @customer.errors.include?(:address) %>
            <p style="color: red;"><%= @customer.errors.full_messages_for(:address).first %>
        <% end %>
      </div>
      
      <div class="form-group">
        <%= f.label "電話番号", class: "col-3 mt-2"%>
        <%= f.text_field :phone_number, autofocus: true, placeholder: "00000000000", class: "form-control-md col-3" %>
        <% if @customer.errors.include?(:phone_number) %>
            <p style="color: red;"><%= @customer.errors.full_messages_for(:phone_number).first %>
        <% end %>
      </div>
      
      <div class="form-group">
        <%= f.label "メールアドレス", class: "col-3 mt-2"%>
        <%= f.text_field :email, autofocus: true, placeholder: "example@example.com", class: "form-control-md col-3" %>
        <% if @customer.errors.include?(:email) %>
            <p style="color: red;"><%= @customer.errors.full_messages_for(:email).first %>
        <% end %>
      </div>
      
      <div class="d-flex">
        <%= f.label "会員ステータス", class: "col-3 mt-2"%>
        <div class="col-3"><%= f.radio_button :is_deleted, "false" %>　有効</div>
        <div class="col-3"><%= f.radio_button :is_deleted, "true" %>　退会</div>
        
      </div>  
      <div class="offset-3 mt-2 md-3"><%= f.submit '変更を保存', class: "btn btn-success col-md-4 offset-md-2" %></div>
      <% end %>
      <br></br>
    </div>  
  </div>
</div>