<div class="container">
  <div class="row mt-5 mb-5">
    <h3><%= @customer.family_name %><%= @customer.given_name %>さんの会員情報編集</h3>
    <div class="col-md-10 mx-auto">
      <div>
        <label class="col-3 mb-4 mt-2">会員ID</label>
        <label><%= @customer.id %></label>
      </div>
      
      <%= form_with model:@customer, url:admin_customer_path, local:true do |f| %>
        <div class="form-group">
          <%= f.label "氏名", class: "col-3 mt-2" %>
          <%= f.text_field :family_name, autofocus: true, placeholder: "令和", class: "form-control-md col-3 mr-5" %>
          <%= f.text_field :given_name, autofocus: true, placeholder: "道子", class: "form-control-md col-3" %>
        </div>
        
        <div class="form-group">
          <%= f.label "フリガナ", class: "col-3 mt-2"%>
          <%= f.text_field :kana_family_name, autofocus: true, placeholder: "レイワ", class: "form-control-md col-3 mr-5" %>
          <%= f.text_field :kana_given_name, autofocus: true, placeholder: "ミチコ", class: "form-control-md col-3" %>
        </div>
        
        <div class="form-group">
          <%= f.label "郵便番号", class: "col-3 mt-2"%>
          <%= f.text_field :postal_code, autofocus: true, placeholder: "0000000", class: "form-control-md col-3" %>
        </div>
        
        <div class="form-group">
          <%= f.label "住所", class: "col-3 mt-2"%>
          <%= f.text_field :address, autofocus: true, placeholder: "東京都渋谷区代々木神園町0-0", class: "form-control-md col-7" %>
        </div>
        
        <div class="form-group">
          <%= f.label "電話番号", class: "col-3 mt-2"%>
          <%= f.text_field :phone_number, autofocus: true, placeholder: "00000000000", class: "form-control-md col-3" %>
        </div>
        
        <div class="form-group">
          <%= f.label "メールアドレス", class: "col-3 mt-2"%>
          <%= f.text_field :email, autofocus: true, placeholder: "example@example.com", class: "form-control-md col-3" %>
        </div>
        
        <div>
          <%= f.label "会員ステータス", class: "col-3 mt-2"%>
          <%= f.radio_button :is_deleted, "false" %>有効 <%= f.radio_button :is_deleted, "true" %>退会
        </div>  
          <div class="offset-3 mt-2"><%= f.submit '変更を保存', class: "btn btn-success" %></div>
      <% end %>
    </div>  
  </div>
</div>