<div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-md-8 mx-auto">
        <h3><%= @customer.family_name %><%= @customer.given_name %>さんの会員詳細</h3>
        <table class="table table-inverse table-responsive-md">
          <tr>
            <td class="col-4 mt-2">会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td class="col-4 mt-2">氏名</td>
            <td><%= @customer.family_name %><%= @customer.given_name %></td>
          </tr>
          <tr>
            <td class="col-4 mt-2">フリガナ</td>
            <td><%= @customer.kana_family_name %><%= @customer.kana_given_name %></td>
          </tr>
          <tr>
            <td class="col-4 mt-2">郵便番号</td>
            <td><%= @customer.postal_code %></td>
          </tr>
            <tr>
            <td class="col-4 mt-2">住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td class="col-4 mt-2">電話番号</td>
            <td><%= @customer.phone_number %></td>
          </tr>
          <tr>
            <td class="col-4 mt-2">メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
          <tr>
            <td class="col-4 mt-2">会員ステータス</td>
            <td><% if @customer.is_deleted == true %>
                 <p class="text-secondary col-4 mt-2">退会</p>
                <% else %>
                  <p class="text-success col-4 mt-2">有効</p>
               <% end %>
            </td>
          </tr>
        </table>
      <div>
      <%= link_to "編集する", edit_admin_customer_path,class: 'btn btn-success col-4' %>
      <%= link_to "注文履歴一覧", admin_top_path,class: 'btn btn-primary col-4' %>
      </div>
    </div>  
  </div>
</div>