<div class="container">
  <div class="row">
    <div class="col"><h3>注文履歴詳細</h3></div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-borderless">
        <tr>
          <th>購入者</th>
          <td><%= @order.name %></td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime('%Y/%-m/%-d') %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            <span>〒<%= @order.postal_code %></span>
            <span><%= @order.address %></span>
          </td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <th>注文ステータス</th>
          <%= form_with model: [:admin, @order], admin_order_path(@order), method: :patch, local: true do |f| %>
          <td><%= f.select :status, Order.statuses_i18n.invert, {prompt: false}, class: "form-control form-control-sm col-6" %></td>
          <td><%= f.submit '更新', class: "btn btn-success" %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @order_items.each do |order_item| %>
          <tr>
            <td><%= order_item.item.name %></td>
            <td><%= order_item.price.to_s(:delimited) %></td>
            <td><%= order_item.amount %></td>
            <td><%= (order_item.price * order_item.amount).to_s(:delimited) %></td>
            <% form_with model: [:admin, order_item], admin_order_order_item_path(order_item), method: :patch, local: true do |f| %>
            <td><%= f.select, :making_status, OrderItem.making_statuses_i18n.invert, {prompt: false}, class: "form-control form-control-sm col-6" %></td>
            <td><%= f.submit '更新' class: "btn btn-success" %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table table-borderless">
        <tr>
          <th>商品合計</th>
          <td><%= @order.total_price.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th>送料</th>
          <td><%= @order.shipping_cost.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th>請求額合計</th>
          <td><%= (@order.total_price.to_i + @order.shipping_cost.to_i).to_s(:delimited) %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>