<div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-md-8 mx-auto">
        <h3>お問い合わせ内容</h3>
        <table class="table table-inverse table-responsive-md mt-3">
          <tr>
            <td class="col-4 mt-2">お客様名</td>
            <td><%= @contact.name %></td>
          </tr>
          <tr>
            <td class="col-4 mt-2">メールアドレス</td>
            <td><%= @contact.email %></td>
          </tr>
          <tr>
            <td class="col-4 mt-2">電話番号</td>
            <td><%= @contact.phone_number %></td>
          </tr>
            <tr>
            <td class="col-4 mt-2">用件</td>
            <td><%= @contact.subject %></td>
          </tr>
          <tr>
            <td class="col-4 mt-2">内容</td>
            <td><%= @contact.message %></td>
          </tr>
        </table>
      <div class="d-flex justify-content-center">
        <%= link_to "お問い合わせ一覧に戻る", admin_contacts_path,class: 'btn btn-primary col-4' %>
      </div>
    </div>
  </div>
</div>