<div class="container mt-3">
  <% if @model == "customer" %>
  <div class="row mt-3">
    <div class="col-md-10 mx-auto">
      <h3>会員一覧</h3>
      <table class="table table-hover table-inverse table-responsive-md mt-3">
        <thead class="table-active">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @datas.each do |customer| %>
            <tr>
              <td>
                <%= customer.id %>
              </td>
              <td>
                <%= link_to admin_customer_path(customer), class: "btn-link text-dark" do %>
                  <%= customer.family_name %>
                  <%= customer.given_name %>
                <% end %>
              </td>
              <td>
                <%= customer.email %>
              </td>
              <td>
                <% if customer.is_deleted == true %>
                  <p class="text-secondary">退会</p>
                <% else %>
                  <p class="text-success">有効</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% elsif @model == "item" %>
  <div class="row mb-3">
    <div class="col-md-8 mx-auto">
      <h3>商品一覧</h3>
    </div>
    <div class="col-md-2" >
      <%= link_to '', new_admin_item_path, class: "fas fa-plus-circle fa-3x add-item" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="items-all">
        <table class="table table-hover">
          <thead class="table-active">
            <tr>
              <th class="align-middle text-center" style="width: 10%">商品ID</th>
              <th class="align-middle text-center" style="width: 30%">商品名</th>
              <th class="align-middle text-center" style="width: 10%">税抜価格</th>
              <th class="align-middle text-center" style="width: 15%">ジャンル</th>
              <th class="align-middle text-center" style="width: 20%">アレルギー</th>
              <th class="align-middle text-center" style="width: 15%">ステータス</th>
            </tr>
          </thead>
          <tbody>
            <%= render 'admin/items/index', items: @datas %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% end %>
</div>