<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div>
        <%= render "search", genres: @genres %>
      </div>
      <div class="mt-4 mx-auto">
        <% if @genre %>
          <h3 class="d-inline"><%= @genre.name %>一覧</h3>
          <h5 class="d-inline">(全<%= Item.where(item_genre_id: @genre.id).count %>件)</h5>
          <div class="items-list">
            <%= render "index", items: @genre.items %>
          </div>
        <% else %>
          <h3 class="d-inline">商品一覧</h3>
          <h5 class="d-inline">（全<%= @items.count %>件）</h5>
          <div class="items-list justify-content-center">
            <%= render "index", items: @items %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>