<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= attachment_image_tag @item, :image, format: "jpeg", size: "400x300", class: "img-fluid" %>
    </div>

    <div class="col-md-6">
      <h3><%= @item.name %></h3>
      <p><%= @item.information %></p>
      <p>¥  <%= (@item.price * 1.1).to_s(:delimited) %><span style="font-size: small;">(税込)</span></p>

      <%= form_with model: @cart_item, url: cart_items_path, local: true do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.select :amount, options_for_select(1..10), include_blank: "個数を選択してください" %>
        <%= f.submit "カートに入れる", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>