<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="js-loader" class="loader"></div>

    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <%= link_to image_tag('logo1.png', :size =>'200x50', class: "navbar-brand img-fluid"), root_path %>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
                <li>
                  <%= link_to customer_path do %>
                  <div class="wave fas fa-home nav-link text-dark">
                    <span class="nav-link text-dark px-0" style="font-size: 15px">マ</span><span class="nav-link text-dark px-0" style="font-size: 15px">イ</span><span class="nav-link text-dark px-0" style="font-size: 15px">ぺ</span><span class="nav-link text-dark px-0" style="font-size: 15px">ー</span><span class="nav-link text-dark px-0" style="font-size: 15px">ジ</span>
                    </div>
                  <% end %>
                </li>
                <li>
                  <%= link_to items_path do %>
                  <div class="wave fas fa-store nav-link text-dark">
                    <span class="nav-link text-dark px-0" style="font-size: 15px">商</span><span class="nav-link text-dark px-0" style="font-size: 15px">品</span><span class="nav-link text-dark px-0" style="font-size: 15px">一</span><span class="nav-link text-dark px-0" style="font-size: 15px">覧</span>
                  </div>
                  <% end %>
                </li>
                <li>
                  <%= link_to cart_items_path do %>
                  <div class="wave fas fa-shopping-cart nav-link text-dark">
                    <span class="nav-link text-dark px-0" style="font-size: 15px">カ</span><span class="nav-link text-dark px-0" style="font-size: 15px">ー</span><span class="nav-link text-dark px-0" style="font-size: 15px">ト</span>
                  </div>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_customer_session_path, method: :delete do %>
                  <div class="wave fas fa-sign-out-alt nav-link text-dark">
                    <span class="nav-link text-dark px-0" style="font-size: 15px">ロ</span><span class="nav-link text-dark px-0" style="font-size: 15px">グ</span><span class="nav-link text-dark px-0" style="font-size: 15px">ア</span><span class="nav-link text-dark px-0" style="font-size: 15px">ウ</span><span class="nav-link text-dark px-0" style="font-size: 15px">ト</span>
                    </div>
                  <% end %>
                </li>
              <% elsif admin_signed_in? %>
                <li>
                  <%= link_to admin_items_path do %>
                  <div class="wave fas fa-store nav-link text-dark">
                    <span class="nav-link text-dark px-0" style="font-size: 15px">商</span><span class="nav-link text-dark px-0" style="font-size: 15px">品</span><span class="nav-link text-dark px-0" style="font-size: 15px">一</span><span class="nav-link text-dark px-0" style="font-size: 15px">覧</span>
                  </div>
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_customers_path do %>
                  <div class="wave fas fa-users nav-link text-dark">
                    <span class="nav-link text-dark px-0" style="font-size: 15px">会</span><span class="nav-link text-dark px-0" style="font-size: 15px">員</span><span class="nav-link text-dark px-0" style="font-size: 15px">一</span><span class="nav-link text-dark px-0" style="font-size: 15px">覧</span>
                  </div>
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_top_path do %>
                  <div class="wave fas fa-book-open nav-link text-dark">
                    <span class="nav-link text-dark px-0" style="font-size: 15px">注</span><span class="nav-link text-dark px-0" style="font-size: 15px">文</span><span class="nav-link text-dark px-0" style="font-size: 15px">履</span><span class="nav-link text-dark px-0" style="font-size: 15px">歴</span><span class="nav-link text-dark px-0" style="font-size: 15px">一</span><span class="nav-link text-dark px-0" style="font-size: 15px">覧</span>
                  </div>
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_genres_path do %>
                  <div class="wave fas fa-list-ul nav-link text-dark">
                    <span class="nav-link text-dark px-0" style="font-size: 15px">ジ</span><span class="nav-link text-dark px-0" style="font-size: 15px">ャ</span><span class="nav-link text-dark px-0" style="font-size: 15px">ン</span><span class="nav-link text-dark px-0" style="font-size: 15px">ル</span><span class="nav-link text-dark px-0" style="font-size: 15px">一</span><span class="nav-link text-dark px-0" style="font-size: 15px">覧</span>
                  </div>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_admin_session_path, method: :delete do %>
                  <div class="wave fas fa-sign-out-alt nav-link text-dark">
                    <span class="nav-link text-dark px-0" style="font-size: 15px">ロ</span><span class="nav-link text-dark px-0" style="font-size: 15px">グ</span><span class="nav-link text-dark px-0" style="font-size: 15px">ア</span><span class="nav-link text-dark px-0" style="font-size: 15px">ウ</span><span class="nav-link text-dark px-0" style="font-size: 15px">ト</span>
                    </div>
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to about_path do %>
                  <div class="wave fas fa-link nav-link text-dark">
                    <span class="nav-link text-dark px-0" style="font-size: 15px">A</span><span class="nav-link text-dark px-0" style="font-size: 15px">B</span><span class="nav-link text-dark px-0" style="font-size: 15px">O</span><span class="nav-link text-dark px-0" style="font-size: 15px">U</span><span class="nav-link text-dark px-0" style="font-size: 15px">T</span>
                    </div>
                  <% end %>
                </li>
                <li>
                  <%= link_to items_path do %>
                  <div class="wave fas fa-store nav-link text-dark">
                    <span class="nav-link text-dark px-0" style="font-size: 15px">商</span><span class="nav-link text-dark px-0" style="font-size: 15px">品</span><span class="nav-link text-dark px-0" style="font-size: 15px">一</span><span class="nav-link text-dark px-0" style="font-size: 15px">覧</span>
                  </div>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_customer_registration_path do %>
                  <div class="wave fas fa-user-plus nav-link text-dark">
                    <span class="nav-link text-dark px-0" style="font-size: 15px">新</span><span class="nav-link text-dark px-0" style="font-size: 15px">規</span><span class="nav-link text-dark px-0" style="font-size: 15px">登</span><span class="nav-link text-dark px-0" style="font-size: 15px">録</span>
                  </div>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_customer_session_path do %>
                  <div class="wave fas fa-sign-in-alt nav-link text-dark">
                    <span class="nav-link text-dark px-0" style="font-size: 15px">ロ</span><span class="nav-link text-dark px-0" style="font-size: 15px">グ</span><span class="nav-link text-dark px-0" style="font-size: 15px">イ</span><span class="nav-link text-dark px-0" style="font-size: 15px">ン</span>
                  </div>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <% if flash[:notice] %>
    <div class="alert alert-info">
      <%= flash[:notice] %>
    </div>
    <% end %>
    <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
    <% end %>

    <div class="main">
      <%= yield %>
    </div>


    <footer class="fixed-bottom">
      
      <div class="d-flex align-items-center justify-content-center text-dark nominasu-link" style="height: 50px;">
        &copy; nomimasu?
      </div>
    </footer>
  </body>
</html>
